html {
  font-size: 16px;
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Noto Serif JP';
  font-size: 1rem;
}

h2 {
  color: #2f5f99;
  font-size: 2.25rem;
  position: relative;
  padding-left: 8%;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #313131;
}

h2::after {
  content: '';
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #2f5f99;
  bottom: 8px;
  left: 0;
}

h3 {
  font-size: 1rem;
  line-height: 27px;
  font-weight: 400;
}

h4 {
  font-size: 1rem;
  line-height: 27px;
  font-weight: 400;
  color: gray;
}

/* header */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

.header-container {
  display: flex;
  justify-content: right;
  height: 107px;
  padding: 40px 8%;
  width: 100%;
}

header .logo {
  background-color: #313131b3;
  position: absolute;
  left: 8%;
  z-index: 15;
}

header .logo a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

.header-container nav.pc {
  display: flex;
  gap: 30px;
  background-color: #313131b3;
}

.header-container nav.pc a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding-left: 1.5rem;
  height: fit-content;
  width: fit-content;
}

.header-container .hamburger-menu {
  display: none;
}

.header-container nav.pc a:hover {
  border-bottom: #2f5f99;
}

.header-container nav a::before {
  position: relative;
}

.header-container nav a:hover::before {
  content: '◆';
  position: absolute;
  left: 0;
  top: 0;
  color: #2f5f99;
}

#menu {
  display: none;
}

/* mv */
.mv {
  height: 690px;
  width: 100%;
  position: relative;
}

.mv-background {
  width: 100%;
  height: 213px;
  position: absolute;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
  overflow: hidden;
}

.mv-background img {
  width: 1200px;
  animation: scroll 100s linear infinite;
}

.mv-background::after {
  content: url('images/moon.png');
  position: absolute;
  top: 35%;
  left: 45%;
  z-index: 10;
  width: 50px;
  height: 50px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* 半分ずらしてループ */
  }
}

.mv-left {
  aspect-ratio: 1;
  background: linear-gradient(90deg, black 50%, white 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  width: 37%;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%) scale(0.97);
  opacity: 0;
}

.logo a::before {
  aspect-ratio: 1;
  background: linear-gradient(90deg, black 50%, white 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  position: absolute;
  left: -30px;
  z-index: 10;
  width: 23px;
  height: 23px;
  content: '';
}

.is-loaded .mv-left {
  opacity: 1;
  transform: translateY(-50%) scale(1);
  transition: opacity 1s ease 1.5s, transform 1s ease 1.5s;
}

.mv-left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.mv-right {
  display: inline-block;
  overflow: hidden;
  min-width: 14em;
  max-width: 30em;
  position: absolute;
  top: 58%;
  left: 55%;
  transform: translateY(-50%);
}

.mv-right .copy-line {
  font-family: 'playfair display';
  font-style: italic;
  display: block;
  white-space: nowrap;
  font-size: clamp(2rem, 3.5vw, 3.125rem);
}

.text {
  display: inline-block;
  clip-path: inset(0 100% 0 0);
  transition: clip-path 1s ease 1s;
}

.mv-right .copy-line span {
  font-size: 1.5em;
}

/* works */
#works {
  width: 100%;
  margin-bottom: 200px;
}

#works a {
  text-decoration: none;
  width: 25%;
}

.works-container {
  display: flex;
  width: 84%;
  margin: 100px auto 0 auto;
  flex-wrap: wrap;
  column-gap: 12.5%;
  row-gap: 60px;
}

#works img {
  width: 100%;
}

#works .works5 img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
}

#works .image-container {
  position: relative;
  aspect-ratio: 4 / 3;
  overflow: hidden;
  background: #2f2f2f;
}

#works .image-container::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 1s;
  text-align: center;
  line-height: 156px;
  color: #fff;
}

#works .image-container:hover::before {
  content: 'サイトの紹介';
  background-color: rgba(75, 75, 75, 0.7);
}

.works-content {
  width: 100%;
  font-family: 'Noto Serif JP';
  font-weight: 300;
  font-size: 1rem;
}

.works-content:hover {
  background-color: #4b4b4b;
}

.works-content h3 {
  margin: 20px 0;
  color: #fff;
}

.works-content h3:hover {
  text-decoration: underline;
}
/* skill */
#skill {
  margin-bottom: 200px;
}

.skill-container {
  display: flex;
  column-gap: 10%;
  row-gap: 100px;
  flex-wrap: wrap;
  margin: 100px 8% 0 8%;
}

.skill-contain {
  width: 45%;
  display: flex;
  gap: 10%;
}

.skill-container .image-container {
  border: 1px solid #fff;
  width: 20%;
  aspect-ratio: 1;
  position: relative;
}

.skill-container img {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.skill-container .text-container {
  min-width: 50%;
  max-width: 70%;
}

/* about */

#about {
  position: relative;
}
.about-container {
  display: flex;
  gap: 15%;
  margin: 0 8%;
  position: relative;
}

.about-container .image-container {
  border: 2px solid #fff;
  border-right: 34px solid #fff;
  position: relative;
  height: 635px;
  width: 384px;
}

#about::after {
  content: '';
  position: absolute;
  left: -8%;
  right: 0;
  bottom: 0;
  height: 3px;
  background-color: #2f5f99;
}

.about-container img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 120%;
}

.about-container .text-container {
  width: 443px;
  margin: 0 auto;
  height: 635px;
  display: flex;
  gap: 62px;
  justify-content: center;
  flex-direction: column;
}

.about-container h3 {
  text-align: center;
}
.about-container h3,
.about-container h4 {
  line-height: 36px;
}

.about-container h4 {
  padding-bottom: 80px;
}

/* contact */
#contact {
  margin-top: 200px;
}
.contact-container {
  padding: 100px 100px 0 100px;
  margin-bottom: 200px;
}

#contact .image-container {
  display: flex;
  margin-top: 50px;
  gap: 75px;
}

#contact img:nth-child(1) {
  width: 45px;
  height: 45px;
}

#contact img:nth-child(2) {
  width: 22.5px;
  height: 45px;
}

/* footer */
footer .return-to-top {
  background-color: #2f5f99;
  width: 100%;
  height: 100px;
  position: relative;
  display: block;
}

footer .return-to-top img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer .copy-right {
  margin: 20px auto 200px auto;
  width: fit-content;
}

/* 線画 */
.background {
  background-color: #313131;
  position: fixed;
  z-index: -3;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.line {
  position: fixed;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

/* ローディング画面 */
#splash {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  text-align: center;
  color: #fff;
}

#splash_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 40px;
}

.loader_cover {
  width: 100%;
  height: 50%;
  background-color: #333;
  transition: transform 8s cubic-bezier(0.22, 1, 0.36, 1);
  transform: scaleY(1);
}

.loader_cover-up {
  transform-origin: center top;
}

.loader_cover-down {
  position: absolute;
  bottom: 0;
  transform-origin: center bottom;
}

.coveranime {
  transform: scaleY(0);
}

/* スクロールフェードイン */
.fade-in {
  opacity: 0;
  transform: translateY(50px);
  transition: transform 1.5s ease 0s, opacity 1.5s ease 0s;
}

.fade-in.is-visible {
  opacity: 1;
  transform: translateY(0);
}

/* ボトムページ */
#bottompage {
  width: 100%;
}

#bottompage h2 {
  position: static;
  text-align: center;
  margin: 100px 0 100px 0;
}

#bottompage h2::after {
  position: static;
}

#bottompage .works.image-container {
  width: 80%;
  margin: 0 auto;
  overflow: scroll;
  max-height: 80vh;
}

#bottompage .works.image-container img {
  width: 100%;
  display: block;
}

#bottompage .text-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#bottompage .text-container h3 {
  margin-top: 40px;
}

#bottompage .text-container a {
  background-color: #2f5f99;
  padding: 10px;
  width: fit-content;
  margin: 40px auto 80px auto;
  display: block;
  color: #fff;
  text-decoration: none;
}

#bottompage .text-container a:hover {
  background-color: #015ca1;
}

@media screen and (max-width: 1200px) {
  .mv-right p {
    width: 45%;
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 1000px) {
  .about-container {
    flex-direction: column;
  }

  .about-container .image-container {
    height: 400px;
    margin: 0 auto;
  }

  .about-container img {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  /* ヘッダー */

  .header-container nav.pc {
    display: none;
  }
  .header-container .logo {
    min-width: 250px;
    font-size: 1.3em;
  }
  .header-container .hamburger-menu {
    display: block;
    z-index: 12;
    position: fixed;
    right: 5%;
    width: 8%;
    padding: 10px;
  }

  .header-container .hamburger-menu:hover {
    background-color: #2f5f99;
  }

  .header-container .hamburger-menu img {
    width: 100%;
    max-width: 30px;
  }

  .header-container .image-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
  }

  #menu {
    display: block;
  }

  .menu {
    opacity: 0;
    visibility: hidden;
    width: fit-content;
    display: flex;
    flex-direction: column;
  }

  .menu.is-open {
    opacity: 1;
    visibility: visible;
    background-color: #2f2f2f;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
  .menu nav.sp {
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    row-gap: 50px;
    z-index: 11;
  }
  .menu a {
    color: #fff;
    text-decoration: none;
    padding-left: 1.5rem;
  }

  .header-container nav a::before {
    position: relative;
  }

  .header-container nav a:hover::before {
    content: '◆';
    position: absolute;
    left: 0;
    top: 0;
    color: #2f5f99;
  }

  .menu.is-open img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
  }

  #menu,
  nav.sp {
    display: block;
  }

  /* mv */
  .mv {
    height: 690px;
    position: relative;
  }

  .mv-background {
    height: 123px;
  }

  .mv-left {
    width: 37%;
    aspect-ratio: 1;
    background: linear-gradient(90deg, black 50%, white 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
  }

  .mv-left img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
  .mv-right {
    position: absolute;
    top: 58%;
    left: 55%;
    transform: translateY(-50%);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    min-height: 5em;
    max-width: 22em;
    min-width: 10em;
  }

  .mv-right .copy-line {
    display: block;
    font-size: clamp(1rem, 3.5vw, 3.125rem);
    line-height: 1.15;
    white-space: nowrap;
  }

  /* works */
  #works {
    margin-bottom: 100px;
  }
  .works-container {
    margin: 0 5%;
    width: 90%;
    column-gap: 10%;
    row-gap: 40px;
    margin-top: 80px;
  }
  #works a {
    width: 45%;
  }

  .works-content h3 {
    margin: 8px 0;
  }

  /* skill */
  #skill {
    margin-bottom: 100px;
  }

  .skill-container {
    flex-direction: column;
    row-gap: 40px;
    flex-wrap: nowrap;
    margin: 80px 5% 0 5%;
  }

  .skill-contain {
    width: 100%;
  }

  .skill-container .image-container {
    width: 60px;
    height: 60px;
  }

  .skill-container .text-container {
    min-width: 50%;
    max-width: 80%;
  }

  /* about */
  .about-container {
    flex-direction: column;
    gap: 40px;
    padding: 0 0 0 0;
    margin-bottom: 100px;
    border-bottom: none;
  }

  .about-container .image-container {
    position: relative;
    height: 400px;
    width: 100%;
  }

  .about-container img {
    width: auto;
    height: 80%;
  }

  .about-container .text-container {
    width: auto;
    margin: 0 5%;
    height: 435px;
  }
  .about-container .text-container h3 {
    margin-top: 80px;
  }

  /* contact */
  .contact-container {
    padding: 80px 5% 0 5%;
    margin-bottom: 100px;
  }

  #contact .image-container {
    margin-top: 50px;
    gap: 40px;
  }

  #contact img:nth-child(1) {
    width: 45px;
    height: 45px;
  }

  #contact img:nth-child(2) {
    width: 22.5px;
    height: 45px;
  }

  /* footer */
  footer .return-to-top {
    height: 50px;
  }

  footer .return-to-top img {
    height: 50%;
  }

  footer .copy-right {
    margin: 20px auto 100px auto;
    width: fit-content;
  }
}
